.calc-container {
  background-color: #EBF5FF;
  border-radius: 15px;
  padding: 50px 25px 30px 25px;
  width: 300px !important;
  margin-top: 50px;
}

.not-working {
  text-align: center;
  padding-top: 10px;
  border-radius: 12px;
  background-color: #EBF5FF;
  color: red;
  text-transform: uppercase;
  font-weight: bold;
}

.app-width {
  width: 1000px;
}